Homework/homework*/hw
Homework/exam*/

Labs/lab*/*/hw
Labs/lab*/hw

Homework/homework*/sim/work
Homework/homework*/script/work

Labs/lab*/sim/script/*

*/hw/project/*

!Labs/lab*/sim/script/sim.do
!Labs/lab*/sim/script/wave.do
!Labs/lab*/sim/script/simulate.bat